body {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.navbar {
    align-items: center;
    background-color: #333;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar a {
    color: #8F43EE;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: grey;
    color: #333;
    opacity: 0.7;
}

.top-container {
    background-image: url("../images/bg-header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    margin: 0;
    position: relative;
    width: 100%;
}

.top-container::before {
    background-color: #ffffff;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 100%;
}

.content-top {
    color: white;
    margin: 0;
    position: relative;
    top: 60%;
    width: 100%;
}

.header {

    background: linear-gradient(to bottom right, white, grey);
    font-family: 'Bebas Neue', cursive;
    font-size: 10vh;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 10vh;
    position: relative;
    text-align: center;
    top: 75px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    
    margin: 0;

}

.header-info{
    padding-top:5vh ;
}

.middle-container {
    background-image: linear-gradient(to bottom, black, 1%, #222);
    border-image-slice: 1;
    color: white;
    height: 100%;
    padding-top: 0;
    padding-bottom: 5vh;
    width: 100%;

}

.about-me {
    left: 25%;
    padding-top: 50px;
    position: relative;
    width: 50%;
}

.info {
    font-size: 14px;
    margin-top: 100px;
    padding-left: 5px;
    text-align: start;
}

.links {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.links:hover {
    color: red;
}

.foto-perfil {
    display: block;
    left: 35%;
    position: relative;
    width: 30%;
    padding-bottom:10% ;
}


.contato{
    background-image: linear-gradient(to bottom, #222, 1%, #222);
    border-image-slice: 1;
    color: white;
    height: 100%;
    padding-top: 0;
    padding-bottom: 5vh;
    width: 100%;

}

.social{
    background-image: linear-gradient(to bottom, #222, 5%, #8F43EE);
    background-color: #8F43EE;
    color: white;
    display: inline-block;
    height: 100%;
    padding-top: 0;
    position: relative;
    width: 100%;
}
.social a{
    
    display: inline-block;
    width: 15%;
    margin: 5%;
    

    

}

.social-icon{
width: 100%;




}

form{
    background-color: #3C3C3C;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    display: inline-block;
    height: 100%;
    padding: 40px;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    
    
    

}



form input{

    width: 80%;
    margin: 2vh;
    height: 5vh;
    text-align: center;
    border: none;
    outline: none;
    background-color: #222;
    color: #F8EDE3;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
   

}
form input::placeholder{

    color: #f8ede38a;
    font-family: 'Montserrat', sans-serif;
   

}

form textarea{
    width: 80%;
    height: 25vh;
    display: block;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: #222;
    resize: none;
    color: #F8EDE3;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);

   
}

form button{

    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    background-color: #ca502a;
    width: 30vw;
    height: 10vh;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

}

form button:hover{
    background-color: #8F43EE;

}

    



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}