body {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.navbar {
    align-items: center;
    background-color: #333;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar a {
    color: #8F43EE;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: grey;
    color: #333;
    opacity: 0.7;
}

.top-container {
    background-image: url("../images/bg-header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

.top-container::before {
    background-color: #ffffff;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 100%;
}

.content-top {
    color: white;
    margin: 0;
    position: relative;
    width: 100%;
}

.header {
    
    background: linear-gradient(to bottom right, white, grey);
    font-family: 'Bebas Neue', cursive;
    font-size: 10vh;
    letter-spacing: 2px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    top: 75px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle-container {
    color: white;
    height: 100%;
    padding-top: 0;
    width: 100%;
}

.about-me {
    left: 25%;
    padding-top: 50px;
    position: relative;
    width: 50%;
}

.info {
    font-size: 14px;
    margin-top: 100px;
    padding-left: 5px;
    text-align: start;
}

.links {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.links:hover {
    color: red;
}

.foto-perfil {
    display: block;
    left: 35%;
    position: relative;
    width: 30%;
}

.bottom-container {
    background-color: #8F43EE;
    color: white;
    display: inline-block;
    height: 100vh;
    padding-top: 0;
    position: relative;
    width: 100vw;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}